.menu{
  flex-wrap: wrap;
  background: #32475C;
  padding: 0 25px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

.navbar{
  margin-bottom: 0 !important;
}

a{
  color: #C3C9D0 !important;
  padding: 15px !important;
  text-decoration: none !important;
}
#member a{
  color: #96A1AB !important;

}

.form{
  width: 500px;
}
.form input{
  background: #4F6881;
  border: none;
}
.form input::placeholder{
  margin-left: 15px;
  padding-left: 15px;
  color: #C3C9D0 !important;
}
.form input::marker{
  margin-left: 15px;
}

.form-control:focus{
  box-shadow: none !important;
  border: none;
}

.drop{
  margin-top: 13px;
}

@media screen and (max-width: 570px){
  .form{
    width: 485px;
  }
}
